:root{

}

/* debug */
.debug *:not(section){
    border: 1px dashed black;
}

.debug header{
    background-color: greenyellow;
}
.debug main{
    .social-container{
        width: 2rem;
        aspect-ratio: 1;
        border-radius: 50%;
    }

    .banner{
        width: 100%;
        background-color: aqua;
        height: 70px;
    }
}

/* utilites */
.txt-center{
    text-align: center;
}

.py-1{
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.py-3{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.px-1_5{
    padding-left: .75rem;
    padding-right: .75rem;
}

.px-2{
    padding-left: 1rem;
    padding-right: 1rem;
}

.lh-1{
    line-height: 1.5rem;
}


/* mobile */
#adv{
    display: none;
}

footer{
    ul{
        display: flex;
        list-style: none;
        justify-content: space-around;
        flex-wrap: wrap;
        li{
            padding: .5rem;
        }
    }
}

#presentation{
    .container-50{
        width: 50%;
        margin: auto;
        img{
            width: 100%;
        }
    }
}

/* md */
@media screen and (min-width:768px) {
    .txt-l-md{
        text-align: left;
    }

    /* ~ to fix */ 
    .social-container{
    }

    #adv{
        display: block;
    }

    #presentation{
        .fl-md-l{
            float: left;
        }
        .mr-md-1{
            margin-right: 1rem;
        }
    }

    
}


/* lg */
@media screen and (min-width:992px) {
    /* .container-50{
        width: 30%;
    } */
    footer{
        .container-lg{
            width: 100%;
            /* margin: 0; */
            display: flex;
            justify-content: space-between;
            .left-lg,.right-lg{
                width: 50%;
            }
            .left-lg{
                text-align: left;
            }
        }
    }
}