:root{
    --page-title-color: #f8951a;
    --recipe-name-color: #5d4c78;
    --bg-primary: #f6f5f3;
    --bg-footer: #7c69a4;
    --bg-secondary: #fff;

}

*{
    font-family: Montserrat, Helvetica Neue, sans-serif;
}
img{
    width: 100%;
}

h1{
    font-family: "Nerko One", cursive;
    color: var(--page-title-color);
}

body{
    background-color: var(--bg-primary);
}

header{
    background-color: var(--bg-secondary);
}

footer{
    margin-top: 2rem;
}

a{
    color: white;
}

/* debug */
.debug *:not(section){
    border: 1px dashed black;
}

.debug header{
    background-color: greenyellow;
}
.debug main{
    

    .banner{
        width: 100%;
        background-color: aqua;
        height: 70px;
    }
}

/* utilites */
.txt-center{
    text-align: center;
}

.mt-1{
    margin-top: 1rem;
}

.py-1{
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.py-3{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.px-1_5{
    padding-left: .75rem;
    padding-right: .75rem;
}

.px-2{
    padding-left: 1rem;
    padding-right: 1rem;
}
.py-2{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.lh-1{
    line-height: 1.5rem;
}
.bg-secondary{
    background-color: var(--bg-secondary);
}
.bg-footer{
    background-color: var(--bg-footer);
    color: white;
}
.divider{
    margin-bottom: 1rem;
    border: 1px solid var(--page-title-color);
    width: 8rem;
}
.fs-sm{
    font-size: small;
}

.md-on{
    display: none;
}

    /* mobile */
.pres{
    font-size: 1.5rem;
}


    #adv{
        display: none;
    }
  
.rounded{
   
    background: white;
    padding: 1rem;
    border-radius: 50%;
}

i.fa-facebook{
    color: blue;
}
i.fa-twitter{
    color: rgb(0, 195, 255);
}
i.fa-pinterest{
    color: red;
}
i.fa-youtube{
    color: red;
}
i.fa-instagram{
    color: pink;
}
.d-none{
    display: none;
}

.bx-sh{
    box-shadow: 8px 6px 6px 0px #98989833;
}

.txt-sh{
    text-shadow: 1px 0 0 grey;
}

main{
    #jumbotron{
        .recipe{
            color: var(--recipe-name-color);
            font-weight: 900;
        }
        .cat{
            color:rgb(163, 163, 163);
            font-weight: 600;
            font-size: .7rem;
        }        
        ul{
            list-style: none;
            line-height: 1.5rem;
            font-size: .8rem;
        }
    }
}

footer{
    ul{
        display: flex;
        list-style: none;
        justify-content: space-around;
        flex-wrap: wrap;
        li{
            padding: .5rem;
        }
    }
}

#presentation{
    .container-50{
        width: 50%;
        margin: auto;
        img{
            width: 100%;
        }
    }
}

/* md */
@media screen and (min-width:768px) {

    .bx-sh-0-lg{
        box-shadow: 0 0 0;
    }

    .txt-l-md{
        text-align: left;
    }

    .md-on{
        display: inline;
    }

    main {
        .d-flex-md{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        .rounded{
            padding: .5rem 3rem;
            border-radius: 9999px;
            /* text-align: center; */
        }

    }

    /* ~ to fix */ 
    /* .social-container{
    } */

    #adv{
        display: block;
        width: 100%;
    }
        .mr-md-1{
            margin-right: 1rem;
        }

    
}


/* lg */
@media screen and (min-width:992px) {
    /* .container-50{
        width: 30%;
    } */

    main{
        .card{
            height: 100%;
            .d-block-lg{
                display: block;
            }
        }
        .social-container{
            width: calc(100% / 5 -2rem);
            span{
                padding-left: 5px;
                text-transform: uppercase;
            }
        }
        .d-flex-lg{
            display: flex;
            align-items: center;
        }
        .d-inline-lg{
            display: inline;
            font-size: .8rem;
        }
        .rounded{
            padding: .6rem 1rem;
        }
    }

    footer{
        .container-lg{
            width: 100%;
            /* margin: 0; */
            display: flex;
            justify-content: space-between;
            .left-lg,.right-lg{
                width: 50%;
            }
            .left-lg{
                text-align: left;
            }
        }
    }
}