:root{

}

/* debug */
.debug *:not(section){
    border: 1px dashed black;
}

.debug header{
    background-color: greenyellow;
}
.debug main{
    .social-container{
        width: 2rem;
        aspect-ratio: 1;
        border-radius: 50%;
    }

    .banner{
        width: 100%;
        background-color: aqua;
        height: 70px;
    }
}

/* utilites */
.txt-center{
    text-align: center;
}

.py-1{
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.py-3{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.px-1_5{
    padding-left: .75rem;
    padding-right: .75rem;
}

.px-2{
    padding-left: 1rem;
    padding-right: 1rem;
}


/* mobile */
#adv{
    display: none;
}

#presentation{
    .img-container{
        width: 50%;
        margin: auto;
        img{
            width: 100%;
        }
    }
}

/* md */
@media screen and (min-width:768px) {
    .txt-l-md{
        text-align: left;
    }

    /* ~ to fix */ 
    .social-container{
    }

    #adv{
        display: block;
    }

    #presentation{
        img{
            float: left;
        }
    }
}


/* lg */
@media screen and (min-width:992px) {

}